<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      @keyframes example {
        from {
          top: 380px;
        }
        to {
          top: 400px;
        }
      }

      .parent {
        position: relative;
        top: 0;
        left: 0;
        background-color: #e0e0e0;
      }
      .imgspaceblue {
        position: relative;
        top: 0;
        left: 0;
      }
      .imglogo {
        position: absolute;
        top: 30px;
        left: 30px;
      }
      .imgaccount {
        position: absolute;
        top: 30px;
        right: 30px;
      }
      .imgstars {
        position: absolute;
        top: 100px;
        right: -250px;
      }
      .imgplanetdarkblue {
        position: absolute;
        top: 80px;
        right: -70px;
      }
      .imgplanetyellow {
        position: absolute;
        top: 500px;
        left: -90px;
      }
      .imgplanetblue {
        position: absolute;
        bottom: -100px;
        right: -20px;
      }
      .imgpoint {
        position: absolute;
        animation-name: example;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        top: 150px;
        right: 50px;
      }
      .imgtalking {
        position: absolute;
        top: 200px;
        left: 40px;
      }
    </style>
  </head>
  <%- include('header'); %>
  <body class="lockhorizontalscroll">
    <!-- Start your project here-->
    <%#- include('menu'); %>

    <div class="parent">
      <img
        class="imgspaceblue"
        src="/images/main/spaceblue.png"
        width="100%"
        height="832"
      />
      <a href="/">
        <img class="imglogo" src="/images/main/logo.png" width="100px" />
      </a>
      <div class="imgaccount">
        <a href="/api/user/login">
          <img
            src="/images/main/login.png"
            width="49px"
            style="margin-right: 10px;"
          />
        </a>
        <a href="/api/user/signup">
          <img src="/images/main/register.png" width="66px" />
        </a>
      </div>
      <img
        class="imgplanetyellow"
        src="/images/main/planet_yellow.png"
        width="250px"
      />
      <img
        class="imgplanetblue"
        src="/images/main/planet_blue.png"
        width="308px"
      />
      <img class="imgstars" src="/images/main/stars.png" width="1000px" />
      <img
        class="imgplanetdarkblue"
        src="/images/main/planet_darkblue.png"
        width="200px"
      />
      <img class="imgpoint" src="/images/main/P.png" width="200px" />
    </div>
    <img class="imgtalking" src="/images/main/talking.png" width="350px" />
    <div style="height: 150px; width: 100%; background-color: #16223e;"></div>

    <!-- End your project here-->
    <%- include('footer'); %>
  </body>
</html>
