<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .parent {
        position: relative;
        top: 0;
        left: 0;
        background-color: #e0e0e0;
      }
      .imgaccountbackground {
        position: relative;
        top: 50;
        left: 50;
      }
      .imglogo {
        position: absolute;
        top: 30px;
        left: 30px;
      }
      .imgaccount {
        position: absolute;
        top: 30px;
        right: 30px;
      }
      .loginform {
        position: absolute;
        top: 150px;
        left: 30px;
      }
      .imglogin {
        position: absolute;
        top: 50px;
        left: 150px;
      }
      .loginformform {
        position: absolute;
        top: 110px;
        left: 60px;
      }
      .buttongray {
        background-color: #ffffff; /* Green */
        border: none;
        color: black;
        padding: 10px 110px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 0px;
        cursor: pointer;
        border-radius: 6px;
        font-weight: bold;
        font-size: 15pt;
      }
    </style>
  </head>
  <%- include('../header'); %>
  <body>
    <%#- include("../menu"); %>

    <div class="parent" style="height: 100vh;">
      <a href="/">
        <img class="imglogo" src="/images/main/logo.png" width="100px" />
      </a>
      <div class="imgaccount">
        <a href="/api/user/signup">
          <img src="/images/account/register_b.png" width="66px" />
        </a>
      </div>
      <div class="loginform">
        <img
          class="imgaccountbackground"
          src="/images/account/account_background.png"
          width="400"
        />
        <img
          class="imglogin"
          src="/images/account/login_big_w.png"
          width="100"
        />
        <div class="loginformform" style="width: 200;">
          <form id="loginForm" class="text-center" action="#!">
            <!-- Email -->
            <div>
              <input
                type="email"
                id="id"
                required
                class="form-control-lg form-control mb-4"
                placeholder="Email"
              />
            </div>

            <!-- Password -->
            <div style="margin-top: 0px;">
              <input
                type="password"
                id="password"
                required
                class="form-control-lg form-control mb-4"
                placeholder="Password"
                aria-describedby="materialRegisterFormPasswordHelpBlock"
              />
            </div>

            <div style="margin-top: 0px;">
              <button class="buttongray" type="submit">로그인</button>
            </div>
            <!-- Sign in button -->
          </form>
        </div>
      </div>
    </div>

    <%- include('../footer'); %>
    <script>
      $(function () {
        $("#loginForm").submit((event) => {
          event.preventDefault();
          // 로그인
          const email = $("#id").val();
          const password = $("#password").val();

          $.ajax({
            url: "/api/user/login",
            type: "POST",
            data: { email, password },
          })
            .done(() => {
              location.href = "/api/point/";
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
